{{ partial "header.html" . }}
<span id="sidebar-toggle-span">
  <a href="#" id="sidebar-toggle" data-sidebar-toggle=""><i class="fas fa-bars"></i> navigation</a>
</span>

<section class="cards">
  {{ range first 10 .Data.Pages }}
    {{ with .Params }}
      <div class="card">
        <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        <p>{{ .Summary }}</p>
        <a href="{{ .Permalink }}" class="button">Leer más</a>
      </div>
    {{ end }}
  {{ end }}
</section>

{{ partial "footer.html" . }}

