:root {
    --MAIN-TEXT-color: #ffffff; /* Color de texto por defecto */
    --MAIN-TITLES-TEXT-color: #ffffff; /* Color de títulos h2-h3-h4-h5 */
    --MAIN-LINK-color: #764890; /* Color de enlaces */
    --MAIN-LINK-HOVER-color: #a063c4; /* Color de enlaces al pasar el mouse */
    --MAIN-ANCHOR-color: #764890; /* Color de anclas en títulos */

    --MENU-HOME-LINK-color: #323232; /* Color del texto del botón de inicio */
    --MENU-HOME-LINK-HOVER-color: #5e5e5e; /* Color del texto del botón de inicio al pasar el mouse */

    --MENU-HEADER-BG-color: #3b2547; /* Color de fondo del encabezado del menú */
    --MENU-HEADER-BORDER-color: #563e64; /* Color del borde del encabezado del menú */

    --MENU-SEARCH-BG-color: #26172e; /* Color de fondo del campo de búsqueda (por defecto bordes + iconos) */
    --MENU-SEARCH-BOX-color: #8451a1; /* Color de borde del campo de búsqueda */
    --MENU-SEARCH-BOX-ICONS-color: #fff; /* Color de los iconos del campo de búsqueda */

    --MENU-SECTIONS-ACTIVE-BG-color: #5f3a74; /* Color de fondo de la sección activa y sus hijos */
    --MENU-SECTIONS-BG-color: #322A38; /* Color de fondo de otras secciones */
    --MENU-SECTIONS-LINK-color: #ffffff; /* Color de enlaces en el menú */
    --MENU-SECTIONS-LINK-HOVER-color: #b3b2b2; /* Color de enlaces en el menú al pasar el mouse */
    --MENU-SECTION-ACTIVE-CATEGORY-color: #a063c4; /* Color del texto de la categoría activa */
    --MENU-SECTION-ACTIVE-CATEGORY-BG-color: rgb(53, 60, 92); /* Color de fondo para la categoría activa (solo) */

    --MENU-VISITED-color: #5c426b; /* Color de los íconos de 'página visitada' en el menú */
    --MENU-SECTION-HR-color: #F0F2F4; /* Color del separador <hr> en el menú */
}

body {
    background-color: #101820; /* Fondo oscuro casi negro */
    color: var(--MAIN-TEXT-color) !important; /* Color del texto principal (blanco) */
}

textarea:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, select[multiple=multiple]:focus {
    border-color: none;
    box-shadow: none;
}

h2, h3, h4, h5 {
    color: var(--MAIN-TITLES-TEXT-color) !important;
}

a {
    color: var(--MAIN-LINK-color);
}

.anchor {
    color: var(--MAIN-ANCHOR-color);
}

a:hover {
    color: var(--MAIN-LINK-HOVER-color);
}

#sidebar ul li.visited > a .read-icon {
	color: var(--MENU-VISITED-color);
}

#body a.highlight:after {
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    -ms-transition: width 0.5s ease;
    transition: width 0.5s ease;
    background-color: var(--MAIN-LINK-HOVER-color);
}
#sidebar {
	background-color: var(--MENU-SECTIONS-BG-color);
}
#sidebar #header-wrapper {
    background: var(--MENU-HEADER-BG-color);
    color: var(--MENU-SEARCH-BOX-color);
    border-color: var(--MENU-HEADER-BORDER-color);
}
#sidebar .searchbox {
	border-color: var(--MENU-SEARCH-BOX-color);
    background: var(--MENU-SEARCH-BG-color);
}
#sidebar ul.topics > li.parent, #sidebar ul.topics > li.active {
    background: var(--MENU-SECTIONS-ACTIVE-BG-color);
}
#sidebar .searchbox * {
    color: var(--MENU-SEARCH-BOX-ICONS-color);
}

#sidebar a {
    color: var(--MENU-SECTIONS-LINK-color);
}

#sidebar a:hover {
    color: var(--MENU-SECTIONS-LINK-HOVER-color);
}

#sidebar ul li.active > a {
    background: var(--MENU-SECTION-ACTIVE-CATEGORY-BG-color);
    color: var(--MENU-SECTION-ACTIVE-CATEGORY-color) !important;
}

#sidebar hr {
    border-color: var(--MENU-SECTION-HR-color);
}
