
:root {
    --MAIN-TEXT-color: #fff; /* Color of text by default (blanco) */
    --MAIN-TITLES-TEXT-color: #fff; /* Color of titles h2-h3-h4-h5 (blanco) */
    --MAIN-LINK-color: #1c1cf3; /* Color of links (azul oscuro apagado) */
    --MAIN-LINK-HOVER-color: #1616d0; /* Color of hovered links (azul oscuro apagado) */
    --MAIN-ANCHOR-color: #1c1cf3; /* color of anchors on titles (azul oscuro apagado) */

    --MENU-HOME-LINK-color: #5e5e5e; /* Color of the home button text (gris) */
    --MENU-HOME-LINK-HOVER-color: #e6e6e6; /* Color of the hovered home button text (azul oscuro apagado tirando a gris) */

    --MENU-HEADER-BG-color: #2b2b2b; /* Background color of menu header (azul oscuro apagado tirando a gris) */
    --MENU-HEADER-BORDER-color: #313131; /*Color of menu header border (azul oscuro apagado tirando a gris) */

    --MENU-SEARCH-BG-color: #2b2b2b; /* Search field background color (by default borders + icons) (azul oscuro apagado tirando a gris) */
    --MENU-SEARCH-BOX-color: #313131; /* Override search field border color (azul oscuro apagado tirando a gris) */
    --MENU-SEARCH-BOX-ICONS-color: #ccc; /* Override search field icons color (gris) */

    --MENU-SECTIONS-ACTIVE-BG-color: #2b2b2b; /* Background color of the active section and its childs (azul oscuro apagado tirando a gris) */
    --MENU-SECTIONS-BG-color: #313131; /* Background color of other sections (azul oscuro apagado tirando a gris) */
    --MENU-SECTIONS-LINK-color: #1c1cf3; /* Color of links in menu (azul oscuro apagado) */
    --MENU-SECTIONS-LINK-HOVER-color: #e6e6e6; /* Color of links in menu, when hovered (azul oscuro apagado tirando a gris) */
    --MENU-SECTION-ACTIVE-CATEGORY-color: #fff; /* Color of active category text (blanco) */
    --MENU-SECTION-ACTIVE-CATEGORY-BG-color: #2b2b2b; /* Color of background for the active category (only) (azul oscuro apagado tirando a gris) */

    --MENU-VISITED-color: #1c1cf3; /* Color of 'page visited' icons in menu (azul oscuro apagado) */
    --MENU-SECTION-HR-color: #2b2b2b; /* Color of <hr> separator in menu (azul oscuro apagado tirando a gris) */
}

body {
    background-color: #1a1a1a; /* Fondo oscuro casi negro */
    color: var(--MAIN-TEXT-color) !important; /* Color del texto principal (blanco) */
}

textarea:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, select[multiple=multiple]:focus {
    border-color: none;
    box-shadow: none;
}

h2, h3, h4, h5 {
    color: var(--MAIN-TITLES-TEXT-color) !important;
}

a {
    color: var(--MAIN-LINK-color);
}

.anchor {
    color: var(--MAIN-ANCHOR-color);
}

a:hover {
    color: var(--MAIN-LINK-HOVER-color);
}

#sidebar ul li.visited > a .read-icon {
	color: var(--MENU-VISITED-color);
}

#body a.highlight:after {
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    -ms-transition: width 0.5s ease;
    transition: width 0.5s ease;
    background-color: var(--MAIN-LINK-HOVER-color);
}
#sidebar {
	background-color: var(--MENU-SECTIONS-BG-color);
}
#sidebar #header-wrapper {
    background: var(--MENU-HEADER-BG-color);
    color: var(--MENU-SEARCH-BOX-color);
    border-color: var(--MENU-HEADER-BORDER-color);
}
#sidebar .searchbox {
	border-color: var(--MENU-SEARCH-BOX-color);
    background: var(--MENU-SEARCH-BG-color);
}
#sidebar ul.topics > li.parent, #sidebar ul.topics > li.active {
    background: var(--MENU-SECTIONS-ACTIVE-BG-color);
}
#sidebar .searchbox * {
    color: var(--MENU-SEARCH-BOX-ICONS-color);
}

#sidebar a {
    color: var(--MENU-SECTIONS-LINK-color);
}

#sidebar a:hover {
    color: var(--MENU-SECTIONS-LINK-HOVER-color);
}

#sidebar ul li.active > a {
    background: var(--MENU-SECTION-ACTIVE-CATEGORY-BG-color);
    color: var(--MENU-SECTION-ACTIVE-CATEGORY-color) !important;
}

#sidebar hr {
    border-color: var(--MENU-SECTION-HR-color);
}
