
:root {
    --MAIN-TEXT-color: #ffffff; /* Color del texto por defecto (blanco) */
    --MAIN-TITLES-TEXT-color: #ffffff; /* Color del texto de títulos (blanco) */
    --MAIN-LINK-color: #1C90F3; /* Color de los enlaces (azul) */
    --MAIN-LINK-HOVER-color: #167ad0; /* Color de los enlaces cuando se pasa el ratón sobre ellos */
    --MAIN-ANCHOR-color: #1C90F3; /* Color de los enlaces dentro de títulos */

    --MENU-HEADER-BG-color: #193752; /* Fondo del encabezado del menú (azul) */
    --MENU-HEADER-BORDER-color: #001b33; /* Borde del encabezado del menú */

    --MENU-SEARCH-BG-color: #02294b; /* Fondo del campo de búsqueda (azul) */
    --MENU-SEARCH-BOX-color: #233c52; /* Color del borde del campo de búsqueda */
    --MENU-SEARCH-BOX-ICONS-color: #1c568a; /* Color de los iconos del campo de búsqueda */

    --MENU-SECTIONS-ACTIVE-BG-color: #20272b; /* Fondo de la sección activa y sus hijos (gris oscuro) */
    --MENU-SECTIONS-BG-color: #252c31; /* Fondo de otras secciones (gris más oscuro) */
    --MENU-SECTIONS-LINK-color: #ccc; /* Color de los enlaces en el menú (gris claro) */
    --MENU-SECTIONS-LINK-HOVER-color: #e6e6e6; /* Color de los enlaces en el menú cuando se pasa el ratón sobre ellos (gris más claro) */
    --MENU-SECTION-ACTIVE-CATEGORY-color: #ffffff; /* Color del texto de la categoría activa (gris) */
    --MENU-SECTION-ACTIVE-CATEGORY-BG-color: #22226e; /* Fondo de la categoría activa (blanco) */

    --MENU-VISITED-color: #33a1ff; /* Color de los iconos 'página visitada' en el menú */
    --MENU-SECTION-HR-color: #20272b; /* Color del separador <hr> en el menú */
}

body {
    background-color: #1a1a1a; /* Fondo oscuro casi negro */
    color: var(--MAIN-TEXT-color) !important; /* Color del texto principal (blanco) */
}

textarea:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, select[multiple=multiple]:focus {
    border-color: none;
    box-shadow: none;
}

h2, h3, h4, h5 {
    color: var(--MAIN-TITLES-TEXT-color) !important;
}

a {
    color: var(--MAIN-LINK-color);
}

.anchor {
    color: var(--MAIN-ANCHOR-color);
}

a:hover {
    color: var(--MAIN-LINK-HOVER-color);
}

#sidebar ul li.visited > a .read-icon {
	color: var(--MENU-VISITED-color);
}

#body a.highlight:after {
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    -ms-transition: width 0.5s ease;
    transition: width 0.5s ease;
    background-color: var(--MAIN-LINK-HOVER-color);
}
#sidebar {
	background-color: var(--MENU-SECTIONS-BG-color);
}
#sidebar #header-wrapper {
    background: var(--MENU-HEADER-BG-color);
    color: var(--MENU-SEARCH-BOX-color);
    border-color: var(--MENU-HEADER-BORDER-color);
}
#sidebar .searchbox {
	border-color: var(--MENU-SEARCH-BOX-color);
    background: var(--MENU-SEARCH-BG-color);
}
#sidebar ul.topics > li.parent, #sidebar ul.topics > li.active {
    background: var(--MENU-SECTIONS-ACTIVE-BG-color);
}
#sidebar .searchbox * {
    color: var(--MENU-SEARCH-BOX-ICONS-color);
}

#sidebar a {
    color: var(--MENU-SECTIONS-LINK-color);
}

#sidebar a:hover {
    color: var(--MENU-SECTIONS-LINK-HOVER-color);
}

#sidebar ul li.active > a {
    background: var(--MENU-SECTION-ACTIVE-CATEGORY-BG-color);
    color: var(--MENU-SECTION-ACTIVE-CATEGORY-color) !important;
}

#sidebar hr {
    border-color: var(--MENU-SECTION-HR-color);
}
